<div class = 'one-lawyer'> 
     <div class="name">
     <b>
         {{name}}
      </b> - {{categories}}
     </div> 
     <div class = "phone"> 
         {{phone}} 
    </div> 
     <div class="address" > 
         {{address}} 
     </div> 
   <div class="more" >
        <a href={{profileUrl}}> See more info..  </a>
     </div>
 </div>