<div class = 'one-lawyer'> 
     <div class="name">
     <b>
         {{name}}
      </b>
     </div> 
     <div class = "phone"> 
         {{phone}} 
    </div> 
     <div class="address" > 
         {{address}} 
     </div> 
   <div class="more" >
        <a href> {{profileUrl}}  </a>
     </div> 
     <div class="categories" > 
           {{categories}} 
     </div> 
 </div>